# ignore .DS_Store files and some other stuff
.DS_Store

.idea/
.tmproj

# ignore node_modules
node_modules/

# ignore bower_components
bower_components/

# ignore development folder
root/www/
root/bower_components/
root/node_modules/
root/package.json